.halloween {
    height: 68px;
    width: 68px;
    margin: 30px;
    border: 2px solid orange;
    background: url(../images/pumpkin.png);
}

.halloween-active {
    background: url(../images/pumpkin2.png); 
}